@import "../../theme.scss";

.task {
  margin: 20px 30px;
  &.new-task {
    margin-top: 30px;
    width: 500px;
  }

  background: $elementBg;
  box-shadow: 0 2px 6px 2px rgba(3, 3, 3, 0.7);
  width: 1000px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    font-size: 20px;
    background: transparent;
    outline: none;
    border: none;
    color: $foreground;
    padding: 8px 12px;
    flex: 1;
  }

  .content-editable {
    font-size: 20px;
    flex: 1;
  }

  .times {
    display: flex;
    flex-direction: row;
    span {
      color: darken($foreground, 40%);
      margin: 0 8px;
    }

    .vertical-line {
      display: flex;
      color: darken($foreground, 40%);
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    margin: 0px 16px;
  }

  .stopwatch {
    width: 100px;
    display: flex;
    justify-content: flex-end;
  }

  span {
    display: flex;
    align-items: center;
  }

  button.slick {
    margin: 0 16px;
    font-size: 20px;
  }
}
