$background: #161622;
$foreground: #efefef;
$elementBg: darken($background, 2%);

// Nice colors
$niceRed: #ad371a;
$niceGreen: #37ad1a;
$niceYellow: #ad971a;
$niceBlue: #1a5fad;
$niceOrange: #ad681a;
$niceWhite: #bfc4ca;
$niceGray: #616870;
$niceBlack: #121213;
$niceBrown: #503312;
$niceOcean: #1aa8ad;
$nicePurple: #941aad;
$nicePink: #ad1a6b;

$brandColor: $niceBlue;

body,
input,
select,
button {
  font-family: "Open Sans";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $background;
  color: $foreground;
}

@mixin hover($color) {
  color: $color;
  transition: transform 0.2s ease;
  transform: scale(1);
  transform-origin: 50% 50%;

  &:disabled {
    color: darken($color, 10%);
  }

  &:hover {
    color: lighten($color, 30%);
  }

  &:active {
    color: lighten($color, 50%);
    transform: scale(1.1);
  }
}

a {
  @include hover($brandColor);
  text-decoration: none;

  &.active {
    color: $niceOcean;
  }
}

@mixin slick-button($color: $brandColor) {
  @include hover($color);
  display: inline-flex;
  background: none;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  outline: none;

  &:disabled {
    opacity: 0.2;
    cursor: auto;
    &:hover {
      color: $color;
    }
  }
}

button.slick {
  @include slick-button();
}

button.slick.green {
  @include slick-button($niceGreen);
}

button.slick.red {
  @include slick-button($niceRed);
}

button.slick.yellow {
  @include slick-button($niceYellow);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba($brandColor, 20%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: $brandColor;
}
